<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitchering | Home</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/d7bd81806f.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap" rel="stylesheet">
</head>

<body class="home">
    <header class="home--header">
        <div class="home--header--box-logo">
            <img class="home--header-logo" src="/img/logo.jpg" alt="logo Kitchering">
        </div>
        <a href="" class="home--header--bars"><i class="fa fa-bars fa-lg"></i></a>
        <nav class="home--header--nav--menu">
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/quienes">quienes</a></li>
                <li><a href="/servicios">servicios</a></li>
                <li><a href="/portolio">portfolio</a></li>
                <li><a href="/sucursales">sucursales</a></li>
                <li><a href="/contacto">contacto</a></li>
            </ul>
        </nav>
    </header>
    <main class="home--main">
        <div class="home--main--section-banner">
            <img src="/img/img-banner.jpg" alt="img-banner">
        </div>
        <div class="home--main--section-productos">
            <article class="home--main--section-article">
                <div class="home--main--section--article-box">
                    <img class="home--main--section--article-image" src="/img/img-pdto-1.jpg" alt="product1">
                    <img class="home--main--section--article-sticker" src="/img/img-nuevo.png" alt="img-nuevo">
                    <a class="home--main--section--article-zoom" href="">AMPLIAR FOTO</a>
                </div>
                <h4 class="home--main--section--article-title">Lorem, ipsum dolor.</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim numquam iure est quia id quod eum?</p>
                <a class="home--main--section--article-more" href="">Ver mas</a>
            </article>
            <article class="home--main--section-article">
                <div class="home--main--section--article-box">
                    <img class="home--main--section--article-image" src="/img/img-pdto-2.jpg" alt="product2">
                    <img class="home--main--section--article-sticker" src="/img/img-gratis.png" alt="img-gratis">
                    <a class="home--main--section--article-zoom" href="">AMPLIAR FOTO</a>
                </div>
                <h4 class="home--main--section--article-title">Lorem, ipsum dolor.</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim numquam iure est quia id quod eum?</p>
                <a class="home--main--section--article-more" href="">Ver mas</a>
            </article>
            <article class="home--main--section-article">
                <div class="home--main--section--article-box">
                    <img class="home--main--section--article-image" src="/img/img-pdto-3.jpg" alt="product3">
                    <img class="home--main--section--article-sticker" src="/img/img-descuento.png" alt="img-descuento">
                    <a class="home--main--section--article-zoom" href="">AMPLIAR FOTO</a>
                </div>
                <h4 class="home--main--section--article-title">Lorem, ipsum dolor.</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim numquam iure est quia id quod eum?</p>
                <a class="home--main--section--article-more" href="">Ver mas</a>
            </article>
            <article class="home--main--section-article">
                <div class="home--main--section--article-box">
                    <img class="home--main--section--article-image" src="/img/img-pdto-1.jpg" alt="product1">
                    <img class="home--main--section--article-sticker" src="/img/img-gratis.png" alt="img-gratis">
                    <a class="home--main--section--article-zoom" href="">AMPLIAR FOTO</a>
                </div>
                <h4 class="home--main--section--article-title">Lorem, ipsum dolor.</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim numquam iure est quia id quod eum?</p>
                <a class="home--main--section--article-more" href="">Ver mas</a>
            </article>
            <article class="home--main--section-article">
                <div class="home--main--section--article-box">
                    <img class="home--main--section--article-image" src="/img/img-pdto-2.jpg" alt="product2">
                    <img class="home--main--section--article-sticker" src="/img/img-nuevo.png" alt="img-nuevo">
                    <a class="home--main--section--article-zoom" href="">AMPLIAR FOTO</a>
                </div>
                <h4 class="home--main--section--article-title">Lorem, ipsum dolor.</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim numquam iure est quia id quod eum?</p>
                <a class="home--main--section--article-more" href="">Ver mas</a>
            </article>
            <article class="home--main--section-article">
                <div class="home--main--section--article-box">
                    <img class="home--main--section--article-image" src="/img/img-pdto-3.jpg" alt="product3">
                    <img class="home--main--section--article-sticker" src="/img/img-descuento.png" alt="img-descuento">
                    <a class="home--main--section--article-zoom" href="">AMPLIAR FOTO</a>
                </div>
                <h4 class="home--main--section--article-title">Lorem, ipsum dolor.</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim numquam iure est quia id quod eum?</p>
                <a class="home--main--section--article-more" href="">Ver mas</a>
            </article>
        </div>
    </main>
    <footer class="home--footer">
        <nav class="home--footer--nav--menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/quienes">Quienes</a></li>
                <li><a href="/servicios">Servicios</a></li>
                <li><a href="/portolio">Portfolio</a></li>
                <li><a href="/sucursales">Sucursales</a></li>
                <li><a href="/contacto">Contacto</a></li>
            </ul>
        </nav>
    </footer>

</body>

</html>